/* GENERAL CONFIG */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 45px;
}

/* NAVIGATION TOGGLER */
.navbar__toggler {
  display: none;
}

/* NAVIGATION DESKTOP */
header nav {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar__elements {
  padding: 0;
  flex-basis: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: unset;
}
.navbar__links {
  flex-direction: row;
  margin: 0 auto;
}

/* MAIN CONTENT */
main {
  padding-top: 20rem;
}
.main__header {
  font-size: 6rem;
}

button[type="submit"] {
  font-size: 1.7rem;
}

/* PROMO SECTION */
.promo__description__title {
  font-size: 4rem;
}

/* FEATURES */
.features {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 350px);
  padding: 5% 10%;
}
.features__card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__card .feature__image picture {
  display: block;
}
.features__card .feature__image picture,
.features__card .feature__image picture img {
  height: 100%;
  margin-top: 0;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  gap: 30px;
  padding: 5% 15%;
}
.testimonials__overview {
  margin-top: 6rem;
}

@media (min-width: 1100px) {
  .features__card .feature__image {
    width: 40%;
    height: 80%;
    display: unset;
    position: relative;
  }
}
