*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color-headers: #025157;
  --font-color-headers-light: #343434;
  --font-color-paragraph: #46484c;
  --font-color-light: #fff;
  --font-color-dark: #000000e6;
  --background-color-body: #fffbf7;
  --extra-color: #67b54b;
  --main-font: "Alegreya", serif;
  --secondary-font: "Slabo 27px", serif;
  --text-font: "Open Sans", sans-serif;
  --border-radius-measure: 8px;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color-body);
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  font-size: 1.7rem;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--font-color-headers);
}
p {
  font-family: var(--text-font);
}

*:focus-visible {
  box-shadow: 0 0 0 2px var(--font-color-dark);
  border-radius: 2px;
}

/* NAVIGATION MOBILE */
header nav.navbar-custom {
  width: 100%;
  min-height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.8rem 1.6rem;
  background-color: var(--background-color-body);
}

.fixed-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
}

.navbar__toggler {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid var(--font-color-headers);
  border-radius: 4px;
  padding: 0.8rem;
}

.navbar__toggler .navbar__toggler--icon {
  width: 100%;
  height: 100%;
  background-image: url("../icon/toggler.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar__toggler:hover {
  box-shadow: 0 0 0 2px #e59700;
  border-color: #e59700;
  transition: ease 0.3s;
}
.navbar__elements {
  position: absolute;
  left: 0;
  right: 0;
  top: 65px;
  background-color: var(--background-color-body);
  padding: 0 1.6rem;
  padding-top: 1rem;
  flex-basis: 100%;
  flex-grow: 1;
  display: none;
}

.navbar__elements.show {
  display: unset;
}

.navbar__links {
  display: flex;
  flex-direction: column;
}

.navbar__link {
  width: 100%;
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  color: var(--font-color-headers);
  font-family: var(--text-font);
}

.navbar__link:hover {
  color: var(--font-color-dark);
}

.navbar__link.active__page {
  color: var(--font-color-dark);
}

.navbar__buttons {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.navbar__buttons .navbar__button {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  font-family: var(--text-font);
  font-size: 1.4rem;
}
.navbar__button--signin {
  border: none;
  background: none;
  font-weight: 600;
  color: var(--extra-color);
}
.navbar__button--freetrial {
  padding: 0 1.5rem;
  color: var(--font-color-light);
  border: 1px solid var(--extra-color);
  border-radius: 5px;
  background-color: var(--extra-color);
  transition: ease 0.3s;
}

.navbar__button--freetrial:hover {
  transform: scale(1.1);
  transition: ease 0.3s;
}

/* NAVIGATION BOOTSTRAP */
nav.navbar {
  min-height: 65px;
  padding: 0.5rem 1rem;
  background-color: var(--background-color-body);
}
.offcanvas {
  padding: 2rem;
}
.offcanvas-body .nav-item .nav-link,
.offcanvas-body form button {
  font-size: 1.7rem;
  color: var(--font-color-headers);
}
.offcanvas-body .nav-item .nav-link.active {
  color: #000000e6;
}
.nav-item {
  margin-bottom: 0.8rem;
}
.offcanvas-body form button:first-child {
  padding: 0;
  margin-right: 2rem;
  border: none;
  color: var(--extra-color);
}
.offcanvas-body form button:last-child {
  padding: 0.8rem 1.5rem;
  color: var(--font-color-light);
  background-color: var(--extra-color);
  border-color: var(--extra-color);
  border-radius: 5px;
}
.navbar-toggler {
  padding: 0.8rem 1.5rem;
  border-color: var(--font-color-headers);
  border-radius: 5px;
}
.navbar-toggler-icon {
  background-image: url("../icon/toggler.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* MAIN CONTENT */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 2rem 1rem 2rem;
}

.main__header {
  margin-bottom: 2rem;
  color: var(--font-color-headers);
  text-align: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 3.2rem;
}

.main__description {
  margin-bottom: 2rem;
  color: var(--font-color-paragraph);
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--secondary-font);
}

.form__signup--main {
  height: 55px;
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__signup--main .input--signup {
  width: 55%;
  max-width: 25rem;
  height: 100%;
  padding: 6px 20px;
  border: 1px solid #b6b6b6;
  border-top-left-radius: var(--border-radius-measure);
  border-bottom-left-radius: var(--border-radius-measure);
  outline: none;
  font-family: var(--text-font);
  font-size: 1.7rem;
}

.form__signup--main button[type="submit"] {
  height: 100%;
  width: 45%;
  max-width: 150px;
  padding: 6px 20px;
  background-color: var(--font-color-headers);
  color: var(--font-color-light);
  font-size: 1.4rem;
  border: 1px solid var(--font-color-headers);
  border-top-right-radius: var(--border-radius-measure);
  border-bottom-right-radius: var(--border-radius-measure);
  outline: none;
}
.form__signup--main button[type="submit"]:hover {
  background-color: #03363a;
}

.main__caption {
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  color: #8b8b8bcc;
  font-weight: 400;
  font-family: var(--text-font);
  font-size: 1.7rem;
  text-align: center;
}

picture {
  margin: 30px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

picture.banner img {
  width: 100%;
  max-width: 500px;
}

picture.image__intro img {
  width: 100%;
  max-width: 900px;
}

/* PROMO SECTION */
.promo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  padding: 40px 20px;
}

video {
  width: 100%;
  max-width: 42rem;
}

.promo__video {
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.promo__video img {
  width: 14rem;
}
.promo__video picture {
  width: 100%;
}

.promo__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  max-width: 600px;
}

.promo__description__title {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
}
.promo__description__text {
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  text-align: left;
  color: var(--font-color-paragraph);
}
.promo__description span {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  color: #8b8b8bcc;
  font-family: var(--text-font);
  text-align: left;
  display: inline-block;
}

.promo__description__form {
  justify-content: left;
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  padding: 4rem 0 2rem;
  background-color: #025157;
}
.features__card {
  margin: 0 1.5rem 2.5rem;
  background-color: white;
  border-radius: 5px;
}
.feature__content {
  padding: 3rem 3rem 4rem 3rem;
}
.feature__content .feature__icon {
  margin-bottom: 1.5rem;
}
.feature__content .feature__icon img {
  width: 5rem;
  height: 5rem;
}
.feature__content .feature__header {
  margin-bottom: 1.5rem;
  font-size: 2.4rem;
  font-family: var(--text-font);
  font-weight: 400;
  color: var(--font-color-headers-light);
  line-height: 28px;
}
.feature__content .feature__description {
  margin-bottom: 1.5rem;
  color: #7e7e7e;
  font-size: 1.6rem;
}
.feature__content .feature__link {
  color: var(--extra-color);
  font-size: 1.6rem;
  font-family: var(--text-font);
  font-weight: 600;
  display: inline-block;
  transition: ease 0.3s all;
}
.feature__content .feature__link:hover {
  transition: ease 0.3s all;
  transform: translateX(5px);
}
.features__card .feature__image {
  display: none;
}

/* TESTIMONIALS */
.testimonials {
  padding: 3rem 2rem;
  background-color: #a1d686;
}
.testimonials__title {
  margin-bottom: 2rem;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 30x;
}
.testimonials__description {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #343434;
}
.testimonials__question {
  display: inline-block;
  background: var(--font-color-headers);
  color: white;
  font-size: 1.6rem;
  font-family: var(--text-font);
  font-weight: 600;
  padding: 1em;
  border-radius: 10px;
}
.testimonials__brands {
  justify-content: flex-start;
}
.testimonials__brands img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 5rem;
}

/* CAROUSEL */
.testimonials__carousel {
  max-width: 30rem;
  margin: 0 auto;
}
.carousel__card {
  width: 100%;
  max-width: 30rem;
  background: white;
  border-radius: 10px;
}
.carousel__media {
  position: relative;
}
.carousel__media--person {
  margin: 0;
}
.carousel__media--person img {
  width: 100%;
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 10px 10px 0 0;
}
.carousel__media--company {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9da73;
  border-radius: 50%;
  right: 2rem;
  bottom: -3rem;
}
.carousel__media--company img {
  width: 75%;
  height: auto;
}
.carousel__body {
  padding: 2.5rem;
}
.carousel__body__company {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.carousel__body__header {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: var(--text-font);
  font-weight: 300;
  color: var(--font-color-paragraph);
}
.carousel__body__results {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.carousel__body__results img {
  width: 2.6rem;
  margin-right: 2rem;
}
.carousel__body__results p {
  color: #8b8b8bcc;
  font-size: 1.6rem;
  font-family: var(--text-font);
}
.carousel__footer {
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__footer a {
  padding: 0.8em 0em;
  width: 100%;
  background-color: var(--font-color-headers);
  color: var(--font-color-light);
  font-family: var(--text-font);
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5px;
  text-align: center;
}
.carousel__footer a:hover {
  background-color: #03363a;
}
.carousel__indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 1.5rem 0;
  list-style: none;
}
.carousel__indicators li {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--font-color-light);
  opacity: 0.8;
  cursor: pointer;
  transition: ease 0.6s;
}
.carousel__indicators li.active {
  opacity: 1;
}

/* CAROUSEL BOOTSTRAP */
.carousel-item .card {
  width: 100%;
  max-width: 35rem;
  border-radius: 1rem;
}
.carousel-indicators {
  margin-bottom: -40px;
}
.card .card-media img {
  border-radius: 1rem 1rem 0 0;
}
.carousel__media--company {
  width: 8rem;
  height: 8rem;
  background-color: #f9da73;
  right: 2rem;
  bottom: -3rem;
}
.carousel__media--company img {
  width: 75%;
  height: auto;
}
.card-footer a {
  background-color: var(--font-color-headers);
  color: white;
  border-radius: 1rem;
}

/* FUNCTIONALITIES */
.functionalities {
  padding: 3rem 2rem;
  background-color: var(--background-color-body);
}
.functionalities .functionalities__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.functionalities__intro .functionalities__title {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.functionalities__intro .functionalities__description {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--font-color-paragraph);
  line-height: 1.5;
}
.functionalities__intro p a {
  color: var(--extra-color);
}
.functionalities__intro > a {
  text-align: center;
  padding: 0.8em 1.2em;
  background: var(--font-color-headers);
  color: var(--font-color-light);
  font-family: var(--text-font);
  font-size: 1.4rem;
  margin-bottom: 3rem;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid var(--font-color-headers);
}
.functionalities__intro > a:hover {
  background-color: #03363a;
}
/* FUNCTIONALITIES CARD */
.functionalities__card {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 3.5rem;
  max-width: 50rem;
  position: relative;
  background: white;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
}
.functionalities__card:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}
.functionalities__card .functionalities__card__body {
  padding: 2.5rem;
}
.functionalities__card__body h3 {
  font-size: 3rem;
  font-weight: 900;
  margin: 3rem 0 0.8rem 0;
}
.functionalities__card__body p {
  color: var(--font-color-paragraph);
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
.functionalities__card__body a {
  display: inline-block;
  color: var(--extra-color);
  font-size: 1.6rem;
  font-family: var(--text-font);
  font-weight: 600;
  transition: ease 0.3s all;
}
.functionalities__card__body a:hover {
  transition: ease 0.3s all;
  transform: translateX(5px);
}
.functionalities__card__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.functionalities__card__img .card__img--icon {
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
  width: 2.5rem;
}
.functionalities__card__img .card__img--background {
  width: 100%;
}

@media (min-width: 650px) {
  /* FEATURES */
  .features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    padding: 4rem 1.5rem 2rem;
  }
}
