/* MAIN CONTENT */
.main__header {
  font-size: 4.6rem;
}

/* PROMO SECTION */
.promo {
  margin: 0 50px;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  gap: 30px;
  padding: 5rem 6rem;
}
.testimonials__overview {
  width: 80%;
  padding-right: 3rem;
}
.testimonials__title {
  font-size: 5rem;
  line-height: 55px;
  margin-bottom: 3rem;
}
.testimonials__description {
  margin-bottom: 3rem;
}

/* PROMO SECTION */
@media (min-width: 900px) {
  .promo {
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 80px;
    gap: 40px;
    align-items: center;
  }

  .promo article.promo__video {
    width: 65%;
  }
  .promo article.promo__description {
    width: 35%;
  }
}
