$font-headers: "Alegreya", serif;
$font-main: "Slabo 27px", serif;
$font-alternative: "Open Sans", sans-serif;
$color-main: #025157;
$color-hover: #061d1f;
$color-secondary: #46484c;
$color-light: #fff;
$color-dark: #000;
$color-alternative: #67b54b;
$color-alternative-2: #343434;

%headers {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: center;
  font-family: $font-headers;
  @media (max-width: 500px) {
    font-size: 32px;
  }
}

%button {
  width: 180px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: $font-alternative;
  color: $color-light;
  background-color: $color-main;
}
%button:hover {
  background-color: $color-hover;
}

// PX to REM
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
